<header>
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Neptune navigation bar">

		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="images/favicon.png" alt="Neptune logo" width="30" height="30" class="d-inline-block align-text-top">
				Neptune
			</a>

			<button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsNeptune"
				aria-controls="navbarsNeptune" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsNeptune">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li><a class="nav-link" href="/">Home</a></li>
					<li><a class="nav-link" href="about.html">About us</a></li>
					<li><a class="nav-link" href="services.html">Services</a></li>
					<li><a class="nav-link" href="contact.html">Contact us</a></li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0">
					<li><a class="nav-link" href="cart.html"><img src="images/cart.svg"></a></li>
					<li><a class="nav-link" href="profile.html"><img src="images/profile.svg"></a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>