<div class="col-lg-9">

    <div class="row justify-content-center mb-3">
      <div class="col-md-12">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row g-0">
              <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                  <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp" class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-xl-7 col-md-6 col-sm-7">  
                <h5>Rucksack Backpack Jeans</h5>                
                <div class="d-flex flex-column">
                <span class="fw-bold mb-1">
                  Order ID: 
                </span>
              <span class="text-muted">Quantity: </span>
            <span class="text-muted d-flex">
              Pick-up Location: 
            </span>
            <span class="text-muted mb-3 mb-md-0">
              Order Status: 
            </span>
          </div>
            </div>
            <div class="col-xl-2 col-md-2 col-sm-5">
              <div class="d-flex flex-row align-items-center mb-1">
                <h4 class="mb-1 me-1">$34,50</h4>
              </div>
              <h6 class="text-success">Free shipping</h6>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   



  </div>