<% products.forEach(function(product){ %>
<div class="row justify-content-center mb-3">
    <div class="col-md-12">
      <div class="card shadow-0 border rounded-3">
        <div class="card-body">
          <div class="row g-0">
            <div class="col-xl-3 col-md-4 d-flex justify-content-center">
              <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                <img src="<%= product.productImage %>" class="w-100" />
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xl-6 col-md-5 col-sm-7">
              <h5><%= product.name %></h5>
                </div>
              </div>

              <p class="text mb-4 mb-md-0">
                <%= product.desc %>
              </p>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-5">
              <div class="d-flex flex-row align-items-center mb-1">
                <h4 class="mb-1 me-1"><%= product.price %></h4>
              </div>
              <div class="mt-4">
                <button class="btn btn-light shadow-0" type="button">Delete</button>
                <button class="btn btn-dark btn-outline-light shadow-0" type="button">Edit Info</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% }); %>