<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <%- include('partials/header') %>
    <h1 class="text-uppercase text-center">About Neptune</h1>
    <p>Welcome to Neptune - The Ocean of Choices!</p>
    <p>At Neptune, we believe in making online shopping an experience that you'll cherish. Established in 2022, we are a passionate team dedicated to bringing you the most unique, trendy, and top-quality products from around the globe. Dive into our vast ocean of choices, where each product tells a story and customer satisfaction is our true north.</p>
    <p>Our vision is to revolutionize the e-commerce landscape, ensuring that every time you think of shopping, you think of Neptune. Because here, it’s not just shopping - it's a voyage.</p>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>